
// BLOCK

.viewport{
    width: 100%;
    height: 100%;
    &::after{
        content: "";
        display: block;
        clear: both;
    }
}

.main__nav{
    width: 100%;
    background: $white;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    &::after{
        content: "";
        display: block;
        clear: both;
    }
}

.main__board{
    height: calc(100vh - 63px);
    width: 100%;
    background: $login-bg;
    position: relative;
}


// ELEMENTS

.viewport__sidebar{
    width: 20%;
    height: 100%;
    float: left;
    background: $black;
    overflow: hidden;
    position: fixed;
}

.sidebar__logo{
    width: 100%;
    padding: 20px;
    img{
        display: block;
        height: 80px;
        width: 80px;
        margin: 0 auto;
    }
}

.sidebar__nav{
    padding: 20px 0;
    .nav__title{
        h3{
            letter-spacing: 4px;
        }
    }
    .nav__links{
        list-style: none;
        padding: 0;
        width: 100%;
        li{
            width: 100%;
            color: $white;
            padding: 10px 20px;
            position: relative;
            &::after{
                content: "";
                display: block;
                clear: both;
            }
            &:hover{
                background: $gray;
            }
            .link__icon{
                float: left;
                text-align: center;
                padding: 3px 15px;
            }
            .link__text{
                float: left;
            }
            .link__notif{
                position: absolute;
                right: 20px;
                &::after{
                    content: "";
                    display: none;
                    clear: both;
                }
                .notif{
                    display: none;
                    width: 30px;
                    border-radius: 5px;
                    margin: 0 5px;
                    color: $white;
                    float: right;
                    text-align: center;
                    &.on{
                        display: block;
                    }
                }
                .notif.done{
                    background: $green;
                }
                .notif.warning{
                    background: $yellow;
                }
                .notif.delayed{
                    background: $red;
                }
            }
        }
    }   
    
}

.sidebar__footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
    .footer__links{
        padding: 0;
        list-style: none;
        width: 150px;
        margin: 0 auto;
        &::after{
            clear: both;
            content: "";
            display: block;
        }
        li{
            width: 33.33%;
            float: left;
            a{
                color: $white;
                display: block;
                width: 100%;
                text-align: center;
            }
        }
    }
}

.viewport__main{
    width: 80%;
    float: left;
    right: 0;
    position: fixed;
    overflow: hidden;
}

.nav__el{
    &.left{
        float: left;
    }
    &.right{
        float: right;
    }
    .el{
        padding: 20px 0;
        float: left;
        position: relative;
        .el__notif{
            display: none;
            position: absolute;
            top: 10px;
            right: 0px;
            height: 20px;
            padding: 1px 4px;
            background: $red;
            color: $white;
            font-weight: 400;
            border-radius: 5px;
            text-align: center;
            font-style: bold;
            font-size: 12px;
            &.on{
                display: block;
            }
        }

        .el__dropdown{
            display: none;
            position: absolute;
            right: 0px;
            bottom: -230px;
            padding: 30px 10px 0 10px;
            height: 250px;
            .dropdown{
                border: 1px solid rgba(0,0,0,0.1);
                border-radius: 5px;
                background: $white;
                padding: 10px 0;
                ul{
                    list-style: none;
                    padding: 0;
                    li{
                        padding: 5px 20px;
                        &:hover{
                            background: $login-bg;
                        }
                    }
                }
                &::after{
                    content: "";
                    display: block;
                    top: 12px;
                    right: 20px;
                    position: absolute;
                    width: 0px;
                    height: 0px;
                    border-top: 10px solid transparent;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid #fff;
                }
            }
        }

        &.static:hover{
            cursor: default;
            background: transparent;
        }
        &:hover{
            cursor: pointer;
            background: $login-bg;
        }
        .icon{
            padding: 0 20px;
            display: block;
            float: left;
            text-align: center;
        }
        span{
            padding: 0 30px 0 0;
        }
    }
}

.user:hover{
    .el__dropdown{
        display: block;
    }
}

.message:hover{
    .el__dropdown{
        display: block;
        width: 300px;
    }
}
.notification:hover{
    .el__dropdown{
        display: block;
        width: 300px;
    }
}

// MODIFIERS

.viewport--sidebar{
    &.on{
        .viewport__sidebar{
            width: 20%;
            left: 0;
        }
        .viewport__main{
            width: 80%;
        }
    }
    &.off{
        .viewport__sidebar{
            left: -100%;
        }
        .viewport__main{
            width: 100%;
        } 
    }
}

.board__progressbar{
    height: 2px;
    background: $black;
    position: absolute;
}

.board__nav{
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    &::after{
        content: "";
        display: block;
        clear: both;
    }
    .nav__el{
        padding: 20px;
        float: left;
        &.right{
            float: right
        }
    }
}


// BREAKPOINTS

@media (max-width: 1024px){

    // BLOCK 

    .main__board{
        height: calc(100vh - 125px) !important;
    }

    // ELEMENTS

    .el__notif{
        top: 20px !important;
        right: 10px !important;
    }

    // MODIFIERS

    .viewport--mobile{
        .viewport__main{
            width: 100% !important;
        }
        .viewport__sidebar{
            z-index: 1000;
        }
        &.on{
            .viewport__sidebar{
                position: fixed;
                top: 0;
                width: 200px !important;
                left: 0;
            }
        }
        &.off{
            .viewport__sidebar{
                left: -100%;
            }
        }
    }

    .user:hover .el__dropdown, .notification:hover .el__dropdown, .message:hover .el__dropdown, {
        bottom: 0px !important;
    }


    .el__dropdown{
        display: block !important;
        height: calc(100vh - 125px) !important;
        width: 100% !important;
        position: fixed !important;
        bottom: -100% !important;
        padding: 0 !important;
        .dropdown{
            border-radius: 0px !important;
            height: 100%;
            border: 0px;
        }
        .dropdown::after{
            display: none !important;
        }
    }

    .el--mobile{
        width: 100%;
        .el{
            width: 33.33%;
            .icon{
                width: 100%;
            }
            span{
                display: none;
            }
        }
    }
}