.text--white{
    color: $white;
}

.text--lgray{
    color: $login-bg;
}

.text--gray{
    color: $gray;
}

.text--black{
    color: $black;
}

.text--w300{
    font-weight: 300;
}

.text--w400{
    font-weight: 400;
}

.text--center{
    text-align: center;
}